body {
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .mail {
    border: 1px solid #f00;
    width: 40%;
    margin: 0 auto;
    padding: 1em;
    color: #707070;
  }
  .mail__header {
    text-align: center;
  }
  .mail__logo {
    width: 120px;
    margin-bottom: 2em;
  }
  .mail__titleformat {
    margin: 0;
    font-weight: normal;
  }
  .mail__title {
    color: #b60011;
    font-size: 1em;
  }
  .mail__text {
    color: #caa23e;
    margin-bottom: 1em;
  }
  .mail__name {
    margin: 0;
    color: #b60011;
    font-weight: bold;
  }
  .mail__p {
    margin: 0;
  }
  .mail__btn {
    background: #b60011;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    margin: 2em auto;
    padding: 0.5em;
    text-align: center;
    width: 50%;
  }
  .mail__footer {
    font-size: 0.8em;
  }
  .mail__help {
    text-align: center;
  }
  