.adminwrap {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  height: 100vh;
}
.content {
  padding: 1em;
  padding-left: 2em;
  background-color: #fafafa;
  color: #707070;
  border-left: 2px solid #f4f4f4;
}
.content__header {
  display: flex;
  padding-bottom: 1em;
}
.content__header div {
  width: 30%;
}
.content__title {
  padding-bottom: 1em;
}
.content__formUsers input[type="text"],
.content__formUsers input[type="password"],
.content__formUsers input[type="email"],
.content__formUsers input[type="number"] {
  border: 0;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
  font-size: 1em;
  border-radius: 10px;
  color: #707070;
  padding: 0.5em;
  margin-bottom: 1.1em;
  width: 80%;
}
.content__formUsers input:focus,
.content__formUsers input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
}
.adminlateral {
  padding-top: 1em;
}
.adminlateral__header {
  text-align: center;
  margin: 1.5em 0;
}
.adminlateral__header img {
  text-align: center;
  width: 50%;
}
.adminlateral__menu ul {
  margin: 0;
  padding: 0;
}
.adminlateral__menu ul li {
  margin: 0;
  list-style: none;
}
.adminlateral__menu ul li a {
  color: #707070;
  text-decoration: none;
}
.adminlateral__menu ul li:hover {
  background: #b60011;
}
.adminlateral__menu ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.adminlateral__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em;
}
.adminlateral__img {
  width: 50px;
  margin-right: 1em;
}
.contentRight {
  background-color: #fafafa;
  text-align: right;
  padding: 1em 2em;
}
.contentRight__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;
}
.contentRight__header div {
  margin-left: 0.5em;
}
.contentRight__mensaje {
  width: 22px;
}
.contentRight__avatar {
  width: 60px;
}
.terminos {
  width: 80%;
  margin: 0 auto;
}
.terminos p {
  text-align: justify;
  width: 20px;
  margin-right: 10px;
}
.cardQuestion-wrap {
  width: 50%;
  margin: 0 auto;
}
.cardQuestion-wrap .cardQuestion {
  background: #fff;
  border: 1px solid #f4f4f4;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 1em;
  width: 90%;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 85% auto;
}
.cardQuestion-wrap .cardQuestion__title {
  font-weight: bold;
  margin-bottom: 1em;
}
.cardQuestion-wrap .cardQuestion .cardQuestion__divright {
  display: flex;
  justify-content: flex-end;
}
.cardQuestion-wrap .cardQuestion .cardQuestion__divright img {
  margin-right: 10px;
}
.cardExamen-wrap {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.cardExamen {
  width: 350px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 6em;
}
.cardExamen__image {
  margin-bottom: 1em;
}
.cardExamen__title {
  color: #b60011;
  margin: 0;
  font-weight: normal;
}
.cardExamen__text {
  margin: 0 0 1em 0;
}
.cardExamen__wrapbtn {
  display: flex;
  justify-content: center;
}
.cardExamen__btn {
  border-radius: 20px;
  padding: 0.6em 1.4em;
  color: #fff;
  background-color: #b60011;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.16);
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.examenwrap {
  height: 100vh;
}
.examenHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 3em;
}
.examenHeader div {
  margin-left: 0.5em;
}
.examenHeader__logo {
  height: 40px;
}
.examenHeader__tag {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;
}
.examenHeader__mensaje {
  width: 22px;
}
.examenHeader__avatar {
  width: 60px;
}
.examenContent__cronometro {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
  width: 90%;
}
.examenContent__cronometro-timer {
  background: #caa23e;
  border-radius: 8px;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
  color: #fff;
  padding: 0.5em;
  text-align: center;
  width: 200px;
}
.examenContent__cronometro-timer span {
  font-size: 0.9em;
}
.examenContent__item {
  margin: 0 auto;
  width: 35%;
}
.examenContent__head {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  border-bottom: 3px dotted #f4f4f4;
  margin-bottom: 1em;
  padding: 0.5em;
}
.examenContent__images {
  margin: 0 0.5em;
}
.examenContent__title {
  color: #b60011;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.examenContent__conteo {
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  color: #707070;
  justify-content: flex-end;
  padding: 0.5em;
  text-align: right;
}
.examenContent__conteoPositiontop {
  justify-content: flex-end;
}
.examenContent__conteoPositionbottom {
  justify-content: center;
}
.examenContent__number {
  font-weight: bold;
  margin-right: 0.5em;
}
.examenContent__respuestas h1 {
  color: #caa23e;
  margin: 0;
}
.examenContent__respuestas p {
  margin: 0;
}
.examenContent__respuestas-item {
  color: #707070;
  border-radius: 8px;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
  border: #f4f4f4;
  padding: 0.5em;
  margin-bottom: 1.5em;
}
.examenContent__result {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 80% 20%;
}
.examenContent__result-item {
  margin-bottom: 0.2em;
}
.examenContent__result-point {
  text-align: right;
}
.examenContent__btn {
  background: #b60011;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  margin: 2em auto;
  padding: 0.5em;
  text-align: center;
  width: 40%;
}
.examenContent__btn a {
  color: #fff;
  text-decoration: none;
}
.examenContent__btn2 {
  border: 0px;
}
.examenContent__btn2 input:focus,
.examenContent__btn2 input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
}
@media screen and (max-width: 768px) {
  .examenContent__cronometro {
    justify-content: center;
  }
  .examenContent__tag {
    display: block;
  }
  .examenContent__item {
    width: 90%;
  }
}
.filtersTemplate {
  width: 90%;
}
.filters {
  border: 1px solid #caa23e;
  border-radius: 10px;
  margin: 1em;
  padding: 0.5em;
}
.filters__items {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 180px auto;
}
.filters__items select:focus,
.filters__items input:focus,
.filters__items input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
}
.filters label {
  width: 300px;
}
.filters input,
.filters select {
  border: 0;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
  font-size: 1em;
  border-radius: 10px;
  color: #707070;
  padding: 0.4em;
  padding-left: 2em;
  width: 40%;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.wrap {
  display: flex;
  height: 100%;
}
.btn {
  color: #fff;
  border-radius: 10px;
  background-color: #caa23e;
  width: 100%;
  border: 0;
  padding: 0.5em 0;
  margin: 1em 0;
  text-align: center;
}
.btn:hover {
  background-color: #deaa28;
}
.hero {
  width: 70%;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.contentAdmin {
  text: align center;
}
.contentAdmin__search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contentAdmin__search input[type="text"] {
  border: 0;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.1);
  font-size: 1em;
  border-radius: 10px 0 0 10px;
  color: #707070;
  padding: 0.5em;
  padding-left: 2em;
  width: 70%;
}
.contentAdmin__search input:focus,
.contentAdmin__search input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
}
.contentAdmin__btn {
  background-color: #b60011;
  border: 0;
  border-radius: 0 10px 10px 0;
  padding: 0.5em 1.5em;
}
.contentAdmin__btn img {
  width: 20px;
}
.adminReport {
  margin: 2em 0;
}
.adminReport__tablehead {
  background: #b60011;
  color: #fff;
  border-radius: 20px;
}
.adminReport__tablehead td {
  text-align: center;
  padding: 0.3em 0.5em;
}
.adminReport__tablehead__thstart {
  border-radius: 10px 0 0 0;
  background: #b60011;
}
.adminReport__table-td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #f4f4f4;
}
.adminReport__table-td img {
  display: inline-block;
  width: 20px;
  margin: 0 5px;
}
.adminReport__btn {
  background: #caa23e;
  color: #fff;
  padding: 0.1em 16px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.9em;
}
@media screen and (max-width: 768px) {
  .hero {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    display: none;
  }
}
